* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --inter: 'Inter', sans-serif;
    --colorone: #5CA0FA;
    --colorfont: #0F1729;
}

.logo {
    margin-right: 128px;
    margin-left: 72px;
    width: 47%;
    height: auto;
}

.container-fluid {
    margin-top: 18px;
}

@media (max-width: 768px) {
    .logo {
        margin-right: 0;
        margin-left: 0;
    }

    .container-fluid {
        margin-top: 0;
    }
}

.navbar {
    font-family: var(--poppins);
    font-size: 1.15rem;
}

.nav-item {
    margin-right: 28px;
}

/* Home CSS */
#home h1 {
    font-family: var(--poppins);
    color: var(--colorfont);
}

#home p {
    font-family: var(--inter);
}

#sehati {
    color: var(--colorone);
}


/* About */
#about {
    background-image: url('asset/aboutus.png'); 
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
}

#about .text h1 {
    font-family: var(--poppins);
    color: white;
}

#sehatii {
    color: var(--colorone);
}

#about .text p {
    font-family: var(--inter);
    font-size: 18px;
    color: white;
}

.va p {
    color: white;
    font-family: var(--inter);
}

/* Podcast */
#podcast h1 {
    font-family: var(--poppins);
    color: var(--colorfont);
}

#podcast h5 {
    font-family: var(--poppins);
    color: var(--colorfont);
}

#podcast p {
    font-family: var(--inter);
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .overlay i {
    color: white;
    font-size: 48px;
  }
  
  .image-container:hover .image {
    filter: brightness(0.7);
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  


/* Discussion */
#discussion .text h1 {
    font-family: var(--poppins);
    color: var(--colorfont);
}

#discussion .text p {
    font-family: var(--inter);
    font-size: 18px;
}


/* Search CSS */
#search {
    font-family: var(--poppins);
    color: white;
}

.carousel-caption {
    margin-bottom: 24px;
    margin-left: -42px;
}

.carousel-caption h3 {
    font-family: var(--poppins);
}

.carousel-caption p {
    font-family: var(--inter);
}



.custom-button-container {
    position: relative;
    display: inline-block;
}

.custom-button {
    position: relative;
    overflow: hidden;
    background-color: var(--colorone);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.custom-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    animation: wave 2s linear infinite;
    pointer-events: none;
}

@keyframes wave {
    0% {
        transform: scaleX(0);
        opacity: 0.5;
    }
    50% {
        transform: scaleX(1);
        opacity: 0.2;
    }
    100% {
        transform: scaleX(0);
        opacity: 0.5;
    }
}

.custom-button:hover {
    background-color: #0056b3;
}

/*About Us Page*/

  

